ARGOCD_SERVER=ENC[AES256_GCM,data:r607VeUz54nfo8x3vIhpDBa0zllCeLIdu0GQWitC,iv:69U1NADlnMpkwWrBrgzbQklGX5Bn31ZEK+jnPTv3jA0=,tag:qxYHTmNon9IkUlgKOfaPxA==,type:str]
ARGOCD_USER=ENC[AES256_GCM,data:qo2xbow=,iv:d3TL+XIAddzcjRE+lORep+/NdXSNvl8zu+VrxIhR3I4=,tag:vXo+qKebpAcZ1bLsD3Wc2Q==,type:str]
ARGOCD_PASSWORD=ENC[AES256_GCM,data:hs4wGvypT2XXyQjuRQE=,iv:XrNLpyZmatyGW9g2/bOIODlkbP60g9KtY/SsgQ5qQk0=,tag:8LfxIsPocOAlhH0PqUTN4g==,type:str]
ARGOCD_INSECURE=ENC[AES256_GCM,data:1pKjkw==,iv:DJcu1KjcwF57f+U259Gxnrj/43630h4L+zEp34IW4rU=,tag:5FW+Zafsscd0B9n7/+yA4A==,type:str]
ARGOCD_AUTH_TOKEN=ENC[AES256_GCM,data:TzwbSl15SncJjE4rQIvCELCukaDJwmTDldLygwjGu6ZmjyS8/k6OnxXENQ8iKVc20kdh1EIjYabT+7MMdesqCSbs45901vZDkeJ4K8elg2TPjdllO/TSbNaPyHhBjcWqlqGQvuPpuU9UhO/DF+8U1dSQHrZfnYqgb8PXF1fTByCyUtLvYhpxBQGP0tuKtZ59rW4VyRDVES1YSzRjLAdjWWQ1B6AR83nzGsYrrpeBE0B5ILe8XOkiU1eB+0/qn4skfOq7EwtUi/I/sE/AxRN1sNu2AwSdq0DAT+12AViR6xIYgiI7Wc6C2M/2qHh80rdMyekcOOxI8iVW9g7a2KFiCPQ=,iv:zgMkJ2D5114SVkMcs3MXNy80Vxr+AAxyqAlq0hwDA9w=,tag:IZs3CcQW6fxf730R6YYNAw==,type:str]
GITOPS_REPO=ENC[AES256_GCM,data:syttvhC+H2wYTSCJaaVVZcUGkQDIIelFu8vXYcOf5+lw9JNvgiVT,iv:y2l9ypfLWml+8TqkyxZU/mh0CNp/RUjUFZKz2cYB8z0=,tag:dotqNRCobOAGogrjQ1/dow==,type:str]
GITOPS_USER=ENC[AES256_GCM,data:X51c1s7cUYpl441pgQ==,iv:ZVVIRhQDkyqn0M3wOteZz6MNreru12pCXDJp1mqcy/M=,tag:5FcxAtSHAlUB4frWnVEkjA==,type:str]
GITOPS_PAT=ENC[AES256_GCM,data:6tRwF1k06zY3PB2K1XJu4TZGEKqaQWJLFg481z3fNK+Lhha4XzE1C9hm,iv:mh3/+QrRE54YqOITpQZDrfZCE1JJQzmDiulJeo4pasQ=,tag:1TnVPBlf0oQCk8dXGNuBHw==,type:str]
IMMICH_DB_NAME=ENC[AES256_GCM,data:BuwDQnP0,iv:rHi/Gq4DUbD5MgtZTrQB8jcJ39XFmkDuDTfFZZvPyHA=,tag:gQL2q9PVAFfRBlM1g3HB6Q==,type:str]
IMMICH_DB_USER=ENC[AES256_GCM,data:GEZcPiufAug1sQ==,iv:HEWFqrWvUgpbmi0BDO51LTgIu35IqeB5BRuBzKqyXIk=,tag:nTLhnX4gzGefFcChfO6HvA==,type:str]
IMMICH_DB_PASSWORD=ENC[AES256_GCM,data:QNvUsXT4g1tSqNhH,iv:Y63sZLXmRZAkAw+xyQt8QPEYpHdJUclZIeA1T1gCdgQ=,tag:57VAcv85Zehxhnn4j95xNg==,type:str]
IMMICH_NAMESPACE=ENC[AES256_GCM,data:wuxP1t+X,iv:qkaCEXlN21zM9qFX8LOKjHyLNJctQ60hz+7HIvUCeLk=,tag:gI+Q73hLa8GrrNGHGMbCPg==,type:str]
sops_age__list_0__map_enc=-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSAxMG1FWU1rZGoyUmkyMTQ0\neDQzbC9KQkdaenZZK2orcFk3ek1sazdqL0dRCkNQWmt0RVJTYVpWUnRMTHNEQnFP\nV2xEVnMyWmdhNHJQenMxN1BlMGZuU00KLS0tIC9xK1BCVkxSMWdvK1ovTWdmdXhF\nVTkwOG10enVoa2JabE9IeWN5UW55Tm8KkmdK73N5cki+YTjaUDNudqnZFpnTDtaD\nP3BHOWl+XiMRJYANroxq+CSxidePJT8c28ZfB0O9xvu52rgebbyVzA==\n-----END AGE ENCRYPTED FILE-----\n
sops_age__list_0__map_recipient=age1amwd8g03gd794p97nceg8lqhfkea4n73dehnsux7ffkkvp3huv7sd6wmvz
sops_lastmodified=2026-08-01T23:13:29Z
sops_mac=ENC[AES256_GCM,data:S+FqvQKUYxuyXw6bxK+JNx2dIY00AEB6y+fpvVOm74nTaGglIJWNxiN6i0INI1CMENhCQGhDgsLBDx9CwQPOIc2hiMHBtxfyseV58O6SQsn6RqSRG6Vma4nfceyiDzvWHOZgz2k01GO+E+xQvLB8So94vSUFgG521Ub/hJ5ObdI=,iv:PXqkhfHyOwBQBSfQxqSm7PTKu3XAN8saExxqpWuX6Yc=,tag:03Iv/NaN+CU5cGWQ5PUcug==,type:str]
sops_unencrypted_suffix=_unencrypted
sops_version=3.13.2
